$card-bg-primary-color: #fba01a;
$card-bg-secondary-color: #ffe4bc;
$card-shadow-color: #ccc;

.overlay-click-catcher {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.rest-author-card {
  position: fixed;
  top: 19%;
  display: flex;
  width: 30%;
  max-width: 350px;
  min-width: 260px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid $card-shadow-color;
  box-shadow: 0px 0px 10px $card-shadow-color;
  background: linear-gradient(360deg, $card-bg-secondary-color 0%, $card-bg-primary-color 100%);
  z-index: 10;
  overflow-y: auto;
  max-height: 60vh;

  & &__close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    min-height: 44px;
    border-radius: 50%;
    border: none;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 20px;

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      width: 14px;
      height: 2px;
      background-color: #fff;
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(-45deg);
    }
  }

  & &__image {
    width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  & &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  & &__description {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
